@import url(<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> );
* {
    box-sizing: border-box;
    }
    body {
    font-family: "bebas" ;
    color: #000000;
    text-shadow: white;
    }
    div.container {
    overflow: auto;
    }
    header {
    
    padding: 15px;
    text-align: center;
    }
    nav {
    float: left;
    width: 20%;
    text-align: center;
    }
    nav ul {
    padding-left: 0px;
    }
    nav li {
    list-style: none;
    }
    nav li a {
    background-color: #0d7226;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
    font-weight: 700;
    }
    main {
    float: left;
    width: 60%;
    padding: 0 20px;
    }
    .right {
    background-color: #0d7226;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
    }
    footer {
    text-align: center;
    padding: 10px;
    margin-top: 7px;
    }
    /* For mobile phones: */
    @media only screen and (max-width: 620px) {
    nav,
    main,
    .right {
    width: 100%;
    }   
    
}
.parallax {
    /* The image used */
    background-image: url("https://ak.picdn.net/shutterstock/videos/1047542668/thumb/1.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
 